<main id="main">
	<!-- ASIDE MENU -->
	<aside id="main-aside">
		<div class="aside-item aside-selected" id="dash-aside">DASHBOARD</div>
		<div class="aside-item" id="all-projects-aside">ALL PROJECTS</div>
		<div class="aside-item" id="project-list-aside">
			<button id="project-accordion-btn">PROJECTS</button>
			<div id="project-panel-display">
				<ul id="project-panel-list"></ul>
			</div>
		</div>
	</aside>
	<!-- MAIN SECTION -->
	<section id="main-section">
		<div id="main-header"></div>
		<div id="main-content"></div>
	</section>
</main>
