$font-stack: Calibri, sans-serif;
$primary-color: firebrick;
$secondary-color: firebrick;
$primary-dark: #000;
$secondary-dark: #000;
$primary-light: #FAF9F6;
$secondary-light: rgb(225, 225, 225);

// MIX IN EXAMPLE
// @mixin headerAlign($align: left) {
//     display: flex;
//     text-align: $align;
// }
// @include headerAlign;

// NESTING EXAMPLE
// .header-nav {
// 	>a {
// 		font-size: .9rem;
// 		padding-right: 10px;
// 		text-decoration: none;
// 		transition: all 0.5s;
// 		-webkit-transition: all 0.5s;
// 		&:link {
// 			color: #000;
// 		}
// 		&:visited {
// 			color: rgb(56, 40, 40);
// 		}
// 		&:active {
// 			font-size: 0.95rem;
// 		}
// 	}
// }

// EXTENSION EXAMPLE
// %parallax-menu-hero {
//     // code
// }
// @extend %parallax-menu-hero;

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: $font-stack;
}
@mixin flexJustify($spacing: space-between) {
        display: flex;
        justify-content: $spacing;
    }
    
#header {
    background-color: $primary-color;
    @include flexJustify;
    padding: 10px 20px;
    color: $primary-light
}
#headerRight {
    @include flexJustify;
    align-items: center;
    gap: 20px;
}
#main {
    display: grid;
    grid-template-columns: minmax(150px,1fr) 4fr;
    grid-template-rows: minmax(calc(100vh - 38px),1fr)
}
#main-aside {
    grid-column: 1 / 2;
    background-color: $secondary-light;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}
#main-section {
    grid-column: 2 / 5;
    background-color: $primary-light;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}
#main-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

#main-header {
    font-size: 1.5rem;
    padding-bottom: 20px;
    border-bottom: #000 2px solid;
}

.task-card {
    padding: 20px;
    // border: #000 solid 1px;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    position: relative;
}
.task-card > * {
    padding-bottom: 5px;
}

.task-delete {
    position: absolute;
    top: 10px;
    right: 15px;
}


.add_task_section {
    display: none;
}